[submodule "crates/util"]
	path = crates/util
	url = https://github.com/webrtc-rs/util
[submodule "crates/sdp"]
	path = crates/sdp
	url = https://github.com/webrtc-rs/sdp
[submodule "crates/srtp"]
	path = crates/srtp
	url = https://github.com/webrtc-rs/srtp
[submodule "crates/stun"]
	path = crates/stun
	url = https://github.com/webrtc-rs/stun
[submodule "crates/turn"]
	path = crates/turn
	url = https://github.com/webrtc-rs/turn
[submodule "examples"]
	path = examples
	url = https://github.com/webrtc-rs/examples
