[package]
name = "stun"
version = "0.4.4"
authors = ["Rain Liu <yuliu@webrtc.rs>"]
edition = "2021"
description = "A pure Rust implementation of STUN"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/stun"
homepage = "https://webrtc.rs"
repository = "https://github.com/webrtc-rs/stun"
rust-version = "1.60.0"

[features]
default = []
bench = []

[dependencies]
util = { version = "0.7.0", path = "../util", package = "webrtc-util", default-features = false, features = ["conn"] }

tokio = { version = "1.19", features = ["full"] }
lazy_static = "1.4"
url = "2.2"
rand = "0.8.5"
base64 = "0.13.0"
subtle = "2.4"
crc = "3.0"
ring = "0.16.20"
md-5 = "0.10.1"
thiserror = "1.0"

[dev-dependencies]
tokio-test = "0.4.0" # must match the min version of the `tokio` crate above
clap = "3.2.6"
criterion = "0.3.5"


[[bench]]
name = "bench"
harness = false

[[example]]
name = "stun_client"
path = "examples/stun_client.rs"
bench = false

[[example]]
name = "stun_decode"
path = "examples/stun_decode.rs"
bench = false
