[package]
name = "interceptor"
version = "0.8.2"
authors = ["Rain Liu <yliu@webrtc.rs>"]
edition = "2021"
description = "A pure Rust implementation of Pluggable RTP/RTCP processors"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/interceptor"
homepage = "https://webrtc.rs"
repository = "https://github.com/webrtc-rs/interceptor"
rust-version = "1.60.0"

[dependencies]
util = { version = "0.7.0", path = "../util", package = "webrtc-util", default-features = false, features = ["marshal", "sync"] }
rtp = { version = "0.6.7", path = "../rtp" }
rtcp = { version = "0.7.2", path = "../rtcp" }
srtp = { version = "0.9.0", path = "../srtp", package = "webrtc-srtp" }

tokio = { version = "1.19", features = ["sync", "time"] }
async-trait = "0.1.56"
bytes = "1"
thiserror = "1.0"
rand = "0.8.5"
waitgroup = "0.1.2"
log = "0.4.16"

[dev-dependencies]
tokio-test = "0.4.0" # must match the min version of the `tokio` crate above
chrono = "0.4.23"
