[package]
name = "interceptor"
version = "0.7.6"
authors = ["Rain Liu <yliu@webrtc.rs>"]
edition = "2018"
description = "A pure Rust implementation of Pluggable RTP/RTCP processors"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/interceptor"
homepage = "https://webrtc.rs"
repository = "https://github.com/webrtc-rs/interceptor"

[dependencies]
util = { path = "../util", package = "webrtc-util", default-features = false, features = ["marshal"] }
rtp = { path = "../rtp" }
rtcp = { path = "../rtcp" }
srtp = { path = "../srtp", package = "webrtc-srtp" }

tokio = { version = "1.15.0", features = ["sync", "time"] }
async-trait = "0.1.52"
bytes = "1.1.0"
thiserror = "1.0.30"
rand = "0.8.4"
waitgroup = "0.1.2"
log = "0.4.14"

[dev-dependencies]
tokio-test = "0.4.2"
chrono = "0.4.19"
