[package]
name = "hub"
version = "0.1.0"
edition = "2021"

[dependencies]
util = { path = "../../../util", package = "webrtc-util", default-features = false, features = [
    "conn"
] }
dtls = { package = "webrtc-dtls", path = "../../" }

tokio = { version = "1", features = ["full"] }
x509-parser = "0.13"
rcgen = { version = "0.9", features = ["pem", "x509-parser"] }
ring = "0.16"
rustls = "0.19"
log = "0.4.16"
thiserror = "1"
